button:disabled{
    cursor: not-allowed;
}

button{
    cursor: pointer;
}

h1{
    font-weight: 800;
}

h4{
    font-weight: 500;
}
h5{
    font-weight:300;
}

/* .container{
    background-color: beige;
} */