button:disabled{
    cursor: not-allowed;
}

button{
    cursor: pointer;
}

h1{
    font-weight: 800;
}

h4{
    font-weight: 500;
}
h5{
    font-weight:300;
}

.container{
    background-color: beige;
    width: 52em;
    
    padding-inline: 30px;
    box-shadow: 2px 8px 12px grey;
    border-radius: 12px;
}